
<div class="container mt-5">
  <h2>All Employee Details</h2>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th class="d-none d-md-table-cell">Age</th>
          <th class="d-none d-md-table-cell">DOB</th>
          <th class="d-none d-md-table-cell">Image</th>
          <th>Phone</th>
          <th>Email</th>
          <th class="d-none d-md-table-cell">Blood Group</th>
          <th class="d-none d-md-table-cell">Gender</th>
          <th class="d-none d-md-table-cell">Leave</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees">
          <td>{{ employee.id }}</td>
          <td>{{ employee.name }}</td>
          <td class="d-none d-md-table-cell">{{ employee.age }}</td>
          <td class="d-none d-md-table-cell">{{ employee.dob }}</td>
          <td class="d-none d-md-table-cell"><img [src]="employee.image" alt="Employee Image" width="70" height="50" /></td>
          <td>{{ employee.phone }}</td>
          <td>{{ employee.email }}</td>
          <td class="d-none d-md-table-cell">{{ employee.bloodGroup }}</td>
          <td class="d-none d-md-table-cell">{{ employee.gender }}</td>
          <td class="d-none d-md-table-cell">{{ employee.leaveDetails }}</td>

          <td>
            <button routerLink="edit/{{ employee.id }}" class="btn btn-primary" (click)="editEmployee(employee.id)">Edit</button> &nbsp;
            <button class="btn btn-danger" (click)="deleteEmployee(employee.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
