.bnx-login-page {
    padding-top: 160px;
}

.bnx-login-page-login {
    h2 {
        font-size: 35px;
        font-weight: 700;
        color: blueviolet;
    }

    label {
        font-weight: 300;
        padding-bottom: 5px;
    }

    input {
        height: 50px;
    }
}
.bnx-login-page-title{
    

    h1{
        font-weight: 600;
        color: blueviolet;
    }
    p{
        font-weight: 350;
    }

}
button{
    padding: 12px 50px 12px 50px;
    color: blue;
    font-weight: 600;
}

marquee{
    h6{
        color: red;
        padding-top: 15px;
    }

}