<marquee><h6>This is only for beinex Hr and Employees</h6></marquee>
<div class="container bnx-login-page ">
  <div class="row justify-content-center align-items-center">
    <!-- Title Container -->
    <div class="col-md-6 bnx-login-page-title">
      <div class="container text-center">
        <h1>Welcome to  Beniex</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <img width="100px" src="https://cdn.pixabay.com/animation/2022/12/01/17/03/17-03-11-60_512.gif" alt="">
      </div>
    </div>
    <!-- Login Container -->
    <div class="col-md-6 bnx-login-page-login">
      <div class="container">
        <h2>Login</h2>
        <form>
          <div class="form-group">
            <label for="username">Username:</label>
            <input
              type="text"
              class="form-control"
              id="username"
              [(ngModel)]="username"
              name="username"
              placeholder="Enter User Name"
              required
            />
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input
              type="password"
              class="form-control"
              id="password"
              [(ngModel)]="password"
              name="password"
              placeholder="Enter User Password"
              required
            />
          </div> <br>
          <button
            type="button"
            class="btn btn-outline-primary btn-block"
            (click)="login()"
          >
            Login
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
